{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@src": "./src",
          "@apis": "./src/apis",
          "@assets": "./src/assets",
          "@components": "./src/components",
          "@configs": "./src/configs",
          "@models": "./src/models",
          "@navigators": "./src/navigators",
          "@redux": "./src/redux",
          "@screens": "./src/screens",
          "@utils": "./src/utils"
        }
      }
    ]
  ]
}
